<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="css/contact.css">
      <link rel="stylesheet" href="css/nav.css">
    <title>Contact</title>
</head>
<body>

    <nav class="container">
        <img class="logo" src="/images/logo.png" alt="">
           <ul class="menu">
               <li><a href="/home">Home</a></li>
               <li><a href="/menu">Menu</a></li>
               <li><a href="/contact">Contact</a></li>
           </ul>
   
       <ul class="icon">
           <li><a href="/cart"><span class="material-icons">shopping_cart</span></a></li>
           <li><a href="/logout"><span class="material-icons">logout</span></a></li>
       </ul>
        
       <button class="hamburger" id="hamburger">
           <i class='bx bx-menu btn-open'></i>
         </button>
   
    </nav>

    <!-- --------------------------------main------------------- -->
    
    <section class="hero container">
        <section class="left container">

            <div class="title">
                <span class="red">Let's</span> Talk
           </div>
           <p class="para">Ask us anything or just say hi...</p>

           <div class="call icon"><i class='bx bxs-phone'></i> +91-8888777701/02/03</div>

           <div class="mail icon"><span class="material-icons">
            mail
            </span> bhukkhadspromax@hotmail.com</div>

            <ul class="social">
                <li><a href="#" class="fb"><i class='bx bxl-facebook-circle' ></i></a></li>
                <li><a href="#"><i class='bx bxl-youtube'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter' ></i></a></i></li>
                <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
            </ul>

        </section>

        <section class="right container">

            <div class="two">Name
                <input class="input" type="text" placeholder="Mango Sheikh" id="name" name="name" required></input>
            </div>
            <div class="two">Email
                <input class="input" type="email" placeholder="example@gmail.com" id="email" name="email" required></input>
            </div>
            <div class="two">Message
                <input class="input" type="text" placeholder="Type your question or review here!" id="message" name="message" required></input>
            </div>
            <div><button type="submit" class="button">Send<span class="material-icons send">send</span></button></div>
        </section>
    </section>
    
    
</body>
</html>