<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="css/signup.css">
    <title>Canteen</title>
</head>
<body>    
    <form action="/signin" method="POST">
    <div class="form" >
        <h3 class="title"><span>Missed</span> Us?</h3>
        <img class="logo" src="/images/logo.png" alt="">
        <div class="content">
            <div>
                <input class="input" type="email" id="email" name="email" required placeholder="Email"></input>
            </div>
            <div>
                <input class="input" type="password" placeholder="Password" id="password" name="password" required></input>
            </div>
        <p class="warning"><%= message %></p>
        <div><button type="submit" class="button">SIGN IN</button></div>
        <p class="aha">Don't have an account? <span><a href="/"> Sign Up</a></span></p>
        </div>
    </div>
</form>



    
</body>
</html>