<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="css/signup.css">
      <title>Canteen</title>
</head>
<body>    

 
<form action="/signup" method="POST">
    <div class="form">
        <h3 class="title"><span>Ready To</span> Eat! </h3>
        <img class="logo" src="/images/logo.png" alt="">
        <div class="content">
            <div>
                <input class="input" type="text" placeholder="Full Name" id="name" name="name" required></input>
            </div>
            <div>
                <input class="input" type="email" placeholder="Email" id="email" name="email" required></input>
            </div>
            <div>
                <input class="input" type="password" placeholder="Password" id="password" name="password" required></input>
            </div>
        <div><button type="submit" class="button">SIGN UP</button></div>
        <p class="aha">Already have an account? <span><a href="/login"> Sign In</a></span></p>
        </div>
    </div>
</form>


    
</body>
</html>