@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFE7E7;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    margin: 4rem 6rem;
    max-width: 100%;
}

/* -------------------------label--------------------------- */

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #174D66;
    padding-bottom: 0;
}

.red{
    color: #F13D38;
}

.label{
    font-family: 'Oswald', sans-serif;
    display: flex;
    color: #F13D38;
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 4px solid #174D66;

}

.topic{
    display: flex;
    justify-content: space-between;
}

.product{
    width: 60%;
    padding-left: 2rem;
}

.category{
    text-align: center;
    width: 12%;
}

/* ---------------items------------------ */

.item{
    display: flex;
    flex-direction: column;
}

.single{
    display: flex;
    align-items: center;
}

.item-name{
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
    align-items: center;
    height: min-content;
    /* margin-right: 30rem; */
    width: 60%;
}

.price {
    font-size: 2.5rem;
    color: #174D66;
    font-weight: 500;
    height: min-content;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}


.icon {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.icon a{
    color: #174D66;
}

.x{
    background: none;
    border: none;
    font-size: 3rem;
    color: #F13D38;
}

/* --------------------total------------------- */

.product-image{
    width: 20rem;
    height: auto;
}

.total{
    border-top: 4px solid #F13D38;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20rem 4rem;
}

.final{
    margin-top: 3rem;
}

.cost{
    color: #174D66;
}

.button{
    margin: 2rem 0 0 0;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: #FFE7E7;
    background-color: #f13d38;
    border: #f13d38 3px solid;
    border-radius: 4rem;
    transition: ease-in 0.35s;
}

.button:hover{

    color: #f13d38;
    border: #f13d38 3px solid;
    background-color: #FFE7E7;
    transform: translateY(-0.5rem);
}

